@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.app{
  
}
.nav{
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 90, 90);
  color: #fff;
  padding: 25px;
}
.nav img {
  margin-right: 10px;
  
}
.cart{

  width: 70%;
  margin: 100px 200px;
  border-radius: 7px;
  display: flex;
  height: 300px;
}
.location{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 10px;
  
}
.location img,p{
  margin-right: 10px;
  font-size: 1.3em;
}
.location a{
  color: rgb(172, 170, 180);
}
.location 
.infos{
  margin: 30px;
}
.description{
  margin-left: 50px;
}
.description h1,.description p{
  margin-bottom: 20px;
}
.period{
  font-weight: 500;
}
